@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), local('Inter-Regular'), local('Segoe UI'),
    local('Apple SD Gothic Neo'), local('Noto Sans KR'), local('Malgun Gothic'),
    local('Microsoft YaHei'), local('Arial');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter Medium'), local('Segoe UI Semibold'), local('Apple SD Gothic Neo Bold'),
    local('Noto Sans KR Medium'), local('Malgun Gothic'), local('Microsoft YaHei Bold'),
    local('Arial Bold');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Inter SemiBold'), local('Segoe UI Bold'), local('Apple SD Gothic Neo ExtraBold'),
    local('Noto Sans KR Bold'), local('Malgun Gothic Bold'), local('Microsoft YaHei'),
    local('Arial Bold');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter Bold'), local('Segoe UI Bold'), local('Apple SD Gothic Neo ExtraBold'),
    local('Noto Sans KR Bold'), local('Malgun Gothic Bold'), local('Microsoft YaHei Bold'),
    local('Arial Bold');
}